In [7]:
import pandas as pd
import seaborn as sns
import tsfresh

In [8]:
# load hdf5 file
data = pd.HDFStore('data/processed/ach_at.h5')

In [10]:
print(data)

baseline = data['06_0317_ach-at_0.mat']
ach_applied = data['06_0317_ach-at_1.mat']
at_applied = data['06_0317_ach-at_2.mat']

df = baseline.append(ach_applied)
df = df.append(at_applied)

<class 'pandas.io.pytables.HDFStore'>
File path: data/processed/ach_at.h5

In [11]:
bs = baseline.sample(n=100, random_state = 8)
ach_s = ach_applied.sample(n=100, random_state = 8)
at_s = at_applied.sample(n=100, random_state = 8)

frames = [bs, ach_s, at_s]
df_sampled = pd.concat(frames)

In [12]:
df_sampled.head()

,0,1,2,3,4,5,6,7,8,9,...,5994,5995,5996,5997,5998,5999,electrode,window,y,subject
32,-52.413494,-52.390914,-52.368131,-52.345146,-52.321961,-52.298575,-52.274989,-52.251205,-52.227221,-52.203040,...,-25.989464,-26.006292,-26.022883,-26.039237,-26.055352,-26.071229,32,25,0,06_0317
51,50.968227,51.003625,51.039131,51.074746,51.110469,51.146300,51.182238,51.218284,51.254437,51.290696,...,-21.477032,-21.457678,-21.438312,-21.418934,-21.399543,-21.380138,51,20,0,06_0317
41,-139.916580,-139.823869,-139.730634,-139.636876,-139.542597,-139.447800,-139.352486,-139.256657,-139.160315,-139.063461,...,-54.478810,-54.527073,-54.575055,-54.622755,-54.670173,-54.717310,41,25,0,06_0317
27,5.766634,5.773000,5.779362,5.785721,5.792077,5.798429,5.804778,5.811123,5.817465,5.823803,...,-1.212087,-1.223820,-1.235547,-1.247269,-1.258986,-1.270697,27,3,0,06_0317
36,7.358894,7.353328,7.347570,7.341620,7.335480,7.329147,7.322624,7.315909,7.309003,7.301906,...,0.309410,0.263678,0.218184,0.172927,0.127909,0.083128,36,17,0,06_0317

In [ ]:
table = pd.read_hdf('data/processed/ach_at_table.h5')

In [ ]:
extraction_settings = ComprehensiveFCParameters()
X = extract_features(, 
                     column_id='id', column_sort='time',
                     default_fc_parameters=extraction_settings,
                     impute_function= impute)